.footer {
    background-color: #ffefd8;
    padding: 0.4rem;
}

.social-icon {
    width: 35px;
    margin: 15px;
    margin-top: 5px;
}

.email {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

@media screen and (max-width:680px) {
    .social-icon {
        width: 25px;
        margin: 5px;
        margin-top: 5px;
    }
}

@media screen and (max-width:420px) {
    .social-icon {
        width: 20px;
        margin: 5px;
        margin-top: 5px;
    }
}
