.card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.5s box-shadow,.5s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
     transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-links {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#post-card {
    position: relative;
}

#typeTag {
    width: 150px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    left: -20px;
    top:20px;
    padding: 5px 20px;
}

#typeTag.Ingredients {
    background-color: black;
    color: white;
}

#typeTag.Travels {
    background-color: darkolivegreen;
    color: white;
}

#typeTag.Recipes {
    background-color: darkgoldenrod;
    color: white;
}

#typeTag.Lost_foods {
    background-color: darkslategray;
    color: white;
}

@media screen and (max-width: 530px){
    .author-card{
        width:15rem!important;
    }
}